/**********************************************************************************************
tms 6.0 modified 09.08.2011 SS TMS-1712
**********************************************************************************************/
* {
	margin: 0;
}
html, body {
	height: 100%;
	font: 100% Arial, Helvetica, sans-serif;
}
body {
	background: #666 url(../images/background_primary.gif) repeat-x fixed top;
}
img {
	border-style: none;
	font-weight: normal;
}
hr {
	background: #CCC;
	height: 1px;
	border-style: none;
	display: block;
	margin: 10px 0px;
	clear: both;
	float: left;
	width: 100%;
}
table {
	border-collapse: collapse
}
:focus {
	outline-style: none;
}
.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	color: #999;
}
*+html .clear {
	margin: -10px;
}
.padded {
	padding-top: 8px;
	padding-bottom: 7px;
}
.padded30 {
	padding-top: 15px;
	padding-bottom: 15px;
}
p {
	color: #333;
	margin: 0px 0px 8px;
	vertical-align: middle;
	font-size: 0.8em;
}
.modifier {
	display: block;
	float: left;
	margin-bottom: 5px;
	width: 100%;
	font-size: .8em;
}
a:link, a:visited {
	color: #009;
	font-weight: bold;
	text-decoration: none;
}
a:hover, a:active {
	color: #6cb33f;
	font-weight: bold;
	text-decoration: none;
	outline: none;
}
a:focus, a:active {
	outline: none;
}
.hidden {
	visibility: hidden;
	top: -500px;
}
.topMargin15 {
	margin-top: 15px;
}
h1 {
	color: #84888b;
	font-size: 1.1em;
	color: #333;
	font-weight: bold;
}
h1.header {
	color:#84888b;
	margin:0px;
	padding:4px 5px 2px 0px;
	height: auto;
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #84888b;
}
h2 {
	font-size: 1em;
	color: #84888b;
	padding-left: 0px;
	padding-bottom: 5px;
	font-weight: bold;
	display: block;
}
h2.header {
	color:#84888b;
	margin:0px;
	padding:4px 5px 2px;
	height: auto;
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #84888b;
}
h3 {
	font-size: 0.8em;
	font-weight: bold;
	display: block;
	clear: both;
	color: #333;
	margin-bottom: 10px;
}
/**********************************************************************************************
page layout
**********************************************************************************************/
#skipNav, #skipToNav {
	visibility: hidden;
	display: none;
}
#container {
	width: 980px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -100px;
	padding: 0px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	background: #FFF url(../images/left_nav_background.gif)
}
#container.noLeftNav {
	background: url(../images/left_nav_background_no_nav.gif) repeat-y center;
}
#containerNoNav {
	width: 980px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -100px;
	padding: 0px;
	background: #FFF url(../images/left_nav_background_no_nav.gif);
	border-right: 1px solid #333;
	border-left: 1px solid #333;
}
#header {
	min-height: 100px;
	max-height: 100px;
	min-width: 960px;
	max-width: 960px;
	margin: 0px auto;
	padding: 0px;
	display: block;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	background: #FFF;
	overflow: hidden;
}
.headerbanner {
	width: 960px;
}
.headerbannerPrint {
	display:none;
}
#header .storeTitle {
	font-size: .7em;
	display: none;
}
#headertext {
	font-size: .7em;
	display: block;
	float: right;
	width: 50%;
	margin: 15px 15px 0px 0px;
	text-align: right;
}
#header .search {
	padding: 65px 0px 0px;
	float: left;
	width: 960px;
	text-align: right;
}
#header .search input {
	height: 17px;
	border: 1px solid #000;
	float: right;
	padding: 2px;
}
#preview {
	border: 1px solid #ccc;
	background: #333;
	padding: 10px;
	display: none;
	color: #fff;
}
.printHeader {
	display: none;
}
.requiredText {
	font-size: 0.8em;
	font-weight: bold;
	color: #af292e;
	display: block;
	text-align: right;
	margin: 0px 0px 10px;
	padding: 0px;
	float: left;
	width: 100%;
}
.notRequired {
	padding-left: 9px;
}
.requiredMarker {
	font-weight: bold;
	color: #af292e;
	padding-right: 3px;
}
.messages {
	border:1px solid #fdb913;
	background:#ffedc4;
	padding:10px;
	margin-bottom: 10px;
	font-size: .8em;
	font-weight: bold;
	margin-top: 10px;
}
.scrolling {
	width: 125px;
	overflow: auto;
	border : 1px solid #CCC;
	padding: 3px;
	text-align: left;
	background: #FFF;
	height: 70px;
}
.scrolling.quantity {
	font-size: 75%;
}
.scrolling .scrollHeader {
	margin-bottom: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #CCC;
	display: block;
}
.columnLeft.deliveryMethod .scrolling {
	width: 643px;
	height: auto;
	margin-bottom: 15px;
	overflow: auto;
	background: #FFF;
	display: block;
	float: left;
	padding: 0px;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: none;
	border-top: none;
}
.productDetailRightColumn .scrolling {
	display: block;
	width: 170px;
}
.columnLeft.deliveryMethod .deliveryType {
	display: block;
	float: left;
	border-right: 1px solid #CCC;
	width: 613px;
	padding: 15px;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	margin-bottom: 15px;
}
.columnLeft.deliveryMethod .cardTypes {
	display: block;
	clear: both;
	width: 645px;
	padding-top: 15px;
}
.columnLeft.deliveryAddress .input_buttons.topBottomMargin {
	margin-top: 0px;
	margin-bottom: 0px;
}
.columnLeft.deliveryAddress .input_buttons.topMargin, .columnLeft.deliveryMethod .input_buttons.topMargin {
	margin-top: 15px;
}
.openText {
	line-height: 120%;
}
.splashText {
	font-size: 0.8em;
	line-height: 120%;
	display: block;
	margin-bottom: 10px;
}
ul.schedule {
	clear: both;
	display: block;
	padding-left: 0px;
}
ul.schedule li {
	list-style: none;
	display: block;
	clear: both;
}
ul.schedule li .date {
	display: inline-block;
	float: left;
	width: 30%;
}
ul.schedule li .amount {
	display: inline-block;
	float: right;
	text-align: right;
	width: 70%;
}
/****************************************************************************************
forms/buttons
****************************************************************************************/
.navbar .search {
	text-align: right;
	padding-top: 4px;
}
.navbar .search input {
	padding: 1px;
	font-size: 100%;
	border-style: none;
}
*+html .navbar .search input {
	padding: 0px;
}
.hidden {
	visibility: hidden;
	display: none;
}
input {
	padding: 1px;	
}
input.checkbox {
	display: block;
	float: left;
	width: 20px !important;
	padding: 2px 0px 0px;
	margin: 0px 5px 0px 0px;
	text-align: left;
}
input.categoryDetailedLayoutSelect {
	display: block;
	float: left;
	margin-right: 5px;
}
input.radio {
	float: left;
	width: 20px;
	margin-right: 5px;
	display: inline-block;
}
input.radio, input.radio:active {
	border-style: none;	
}
input.quantity {
	width: 5ex !important;
	display: block;
	float: left;
}
input.amount {
	width: 10ex;
	display: block;
	float: left;
}
.search label {
	display: none;
}
.search .chk-submitbtn:link, .search .chk-submitbtn:visited {
	font-size: 0.7em;
	font-weight: bold;
	color: #000;
	display: inline-block;
	padding: 4px 5px;
	margin-left: 5px;
	background: #55a51c url(../images/search.png) repeat-x center;
	border: 1px solid #000;
	vertical-align: middle;
	float: right;
}
.search .chk-submitbtn:hover {
	color: #fff;
	background: #6cb33f url(../images/search_r.png) repeat-x center;
}
.chk-submitbtn:link, .chk-submitbtn:visited, .chk-smsubmitbtn:link, .chk-smsubmitbtn:visited {
	font-size: .8em;
	color: #FFF;
	background: #55a51c url(../images/button_back.png) repeat-x center;
	padding: 4px 5px;
	border: 1px solid #CCC;
	float: left;
	font-weight: bold;
	margin-right: 15px;
	display: block;
}
.chk-submitbtn:hover, .chk-smsubmitbtn:hover {
	color: #FFF;
	background: #55a51c url(../images/button_back_r.png) repeat-x center;
}
.chk-submitbtn-paynow:link, .chk-submitbtn-paynow:visited, .chk-smsubmitbtn-paynow:link, .chk-smsubmitbtn-paynow:visited {
	font-size: .8em;
	color: #FFF;
	background: #55a51c url(../images/button_back.png) repeat-x center;
	padding: 4px 5px;
	border: 1px solid #CCC;
	float: left;
	font-weight: bold;
	margin-right: 15px;
	display: block;
}
.chk-submitbtn-paynow:hover, .chk-smsubmitbtn-paynow:hover {
	color: #FFF;
	background: #55a51c url(../images/button_back_r.png) repeat-x center;
}
.chk-viewrates:link, .chk-viewrates:visited {
	font-size: .7em;
	font-weight: bold;
	color: #4f107a;
}
.mytable.cart .chk-submitbtn, .mytable.cart .chk-smsubmitbtn {
	font-size: 100%;
}
.input_buttons {
	padding: 0px;
	float: left;
	display: block;
	width: 98%;
	clear: both;
}
*+html .input_buttons {
	float: none;
}
.input_buttons p.login {
	width: 300px;
	margin: 0px;
	padding: 10px 0px 0px;
}
.input_buttons.margin {
	margin: 10px 0px;
}
.input_buttons.topMargin10 {
	margin-top: 10px;
}
.input_buttons.topBottomMargin {
	margin-top: 15px;
	margin-bottom: 15px;
}
.input_buttons.bottomMargin {
	margin-top: 0px;
	margin-bottom: 15px;
}
.registeredUsersDetail .input_buttons.margin, .registerNewUser .input_buttons.margin, .registeredUsersDetail .input_buttons.margin, .promotionalCode .input_buttons.margin, .storeAccountContainer .input_buttons.margin, .rightColumn.fullWidth .input_buttons.margin {
	margin: 0px;
}
.registerNewUser .input_buttons.topBottomMargin {
	margin: 0px;
}
.registeredUsersDetail .input_buttons.topBottomMargin, .deliveryAddress .input_buttons.topBottomMargin, .promotionalCode .input_buttons.topBottomMargin, .orderSummaryDetail.review .input_buttons.topBottomMargin {
	margin-top: 0px;
	margin-bottom: 0px;
}
.productDetailRightColumn .input_buttons.topBottomMargin, .rightStoreItems .input_buttons.topBottomMargin {
	margin: 0px;
}
.cartContainer .input_buttons.topBottomMargin {
	margin-top: 0px;
	margin-bottom: 0px;
}
.cartContainer .input_buttons.topBottomMargin.active {
	margin-top: 15px;
	margin-bottom: 15px;
}
*+html .cartContainer .input_buttons.topBottomMargin.active {
	margin-top: 0px;
	margin-bottom: 0px;
}
.cartContainer .deliveryAddress.review.center .input_buttons.topBottomMargin, .cartContainer .promotionalCode.review.right .input_buttons.topBottomMargin, .cartContainer .orderSummaryDetail.review .input_buttons.topBottomMargin {
	margin-top: 10px;
	margin-bottom: 0px;
}
.storeAccountContainer .input_buttons.margin.login {
	padding-left: 205px;
	padding-bottom: 10px;
	width: 400px;
}
input.cvv {
	width: 4ex !important;
}
#ccnCC {
	width: 20ex !important;
}
/****************************************************************************************
top navigation
****************************************************************************************/
.navbar {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 30px;
	background: #666 url(../images/background_top_navbar.gif) repeat-x center;
	margin: 0px auto;
	width: 960px;
	display: block;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
}
ul.userAccount {
	padding-left: 0;
	margin-left: 0;
	float: left;
	width: 400px;
	display: block;
}
ul.userAccount li {
	display: inline;
}
ul.userAccount li a:link, ul.userAccount li a:visited {
	padding: 6px 15px 0px;
	text-decoration: none;
	float: left;
	height: 22px;
	font-size: 0.8em;
	color: #FFF;
	white-space: nowrap;
}
ul.userAccount li a:hover, ul.userAccount li a:active {
	color: #feb913;
	text-decoration: none;
}
ul.myCart {
	padding-left: 0;
	margin-left: 0;
	float: right;
	width: 400px;
	clear: none;
	display: block;
}
ul.myCart li {
	display: inline;
}
ul.myCart li a {
	padding: 7px 15px 0px;
	text-decoration: none;
	float: right;
	height: 22px;
	font-size: 0.8em;
	color: #FFF;
	white-space: nowrap;
}
ul.myCart li a:hover {
	color: #feb913;
}
ul.myCart li .active {
	color: #feb913;
}
.navbar .userAccount .pipe {
	color: #CCC;
	margin-top: 4px;
	margin-bottom: 7px;
	height: 14px;
	display: inline;
	float: left;
}
.navbar .myCart .pipe {
	color: #CCC;
	margin-top: 5px;
	margin-bottom: 7px;
	height: 14px;
	display: inline;
	float: right;
}
/****************************************************************************************
navigation crumbs
****************************************************************************************/
.navigationPath {
	padding: 4px 5px 5px;
	margin-bottom: 15px;
}
.crumbs {
	font-weight: normal;
	font-size: 0.7em;
	line-height: 120%;
}
.crumbs a {
	font-weight: normal;
	color: #999;
}
.crumbs a.active, .crumbs a.active:hover {
	font-weight: bold;
}
.crumbs a:hover {
	font-weight: normal;
	color: #6cb33f;
}
.crumbs .pipe {
	color: #999;
	padding-right: 5px;
	padding-left: 5px;
}
/****************************************************************************************
content
****************************************************************************************/
#content {
	margin: 0px auto;
	width: 960px;
	padding: 0px 0px 30px;
	height: 100%;
}
#content .pleaseWait {
	display: block;
	margin: 60px 60px 30px;
	width: 840px;
	text-align: center;
}
#contentBackground {
 	background: #FFF;
	margin: 0px auto;
	width: 900px;
}
#containerPopUp {
	padding: 20px;
	background: #999;
	margin-bottom: 0px;
}
#containerPopUp #content {
	margin: 0px auto;
	width: 960px;
	padding: 20px;
	background: #FFF;
	border: 1px solid #333;
}
#containerPopUp #content h1 {
	margin-bottom: 15px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}
#containerPopUp #content h2 {
	padding-bottom: 0px;
}
#containerPopUp #content p {
	line-height: 120%;
	padding-bottom: 10px;
}
#content.noLeftNavigation {
	padding: 15px 0px 0px;
}
#content .leftNavigation {
	width: 250px;
	float: left;
	display: block;
	margin: 0px 14px 0px 0px;
	clear: both;
	background: #CCC;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}
#content .leftNavigation.hidden {
	visibility: hidden !important;
	display: none;
}
#content .rightColumn {
	display: block;
	float: right;
	width: 680px;
	padding: 0px;
}
#content .rightColumn.noTopPad {
	padding-top: 0px;
}
/****************************************************************************************
contentHolder
****************************************************************************************/
#contentholder {
	margin: 0px;
	width: 680px;
	text-align: left;
	padding: 15px 15px 15px 0px;
	float: right;
	display: block;
}
#contentholder h2.storeItemHeader {
	display: block;
	padding-left: 160px;
	padding-bottom: 10px;
}
#contentholder ul.storeItemHeader {
	font-size: .9px;
	color: #333;
}
#contentholder ul.subCategory {
	list-style: none;
	display: block;
	padding: 10px 10px 5px;
	border: 1px solid #CCC;
	margin-top: 15px;
}
#contentholder ul.subCategory li {
	font-weight: bold;
	font-size: .8em;
	background: #eee;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid #CCC;
	display: block;
}
#contentholder ul.subCategory.mallDetail {
	padding-left: 0px;
	float: none;
	width: auto;
}
#categoryLayout {
	display: block;
	padding: 15px 15px 10px;
	border: 1px solid #CCC;
	float: left;
}
/****************************************************************************************
contentHolder rightColumn
****************************************************************************************/
#contentholder .rightColumn h1 {
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}
#contentholder .rightColumn hr {
	background: #CCC;
	height: 1px;
	border-style: none;
	margin-bottom: 10px;
}
#contentholder .rightColumn p {
	font-size: 0.8em;
}
#contentholder .rightColumn.fullWidth p {
	font-size: 0.8em;
	padding-left: 5px;
}
#contentholder .rightColumn.fullWidth p.login {
	width: 400px;
	margin-left: 155px;
	padding: 0px;
}
#contentholder .rightColumn img {
	border-style: none;
	margin-bottom: 10px;
}
#contentholder .rightColumn h3 {
	font-size: 0.9em;
	color: #333;
	margin-bottom: 10px;
	font-weight: bold;
	padding-left: 5px;
}
#contentholder .rightColumn h2.storeItemHeader {
	font-size: 1em;
	color: #84888b;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	padding: 0px;
}
#contentholder .rightColumn .subCategory li {
	display: block;
	margin-bottom: 5px;
}
#contentholder .rightColumn ul.subCategory {
	list-style: none;
	font-size: 0.8em;
	margin-bottom: 15px;
	display: block;
	float: right;
	width: 520px;
	padding: 0px;
}
#contentholder .rightColumn.fullWidth .input_buttons.margin {
	margin: 0px;
}
/**********************************************************************************************
storeitems
**********************************************************************************************/
.storeItems p {
	display: block;
	margin-bottom: 5px;
	float: left;
	clear: both;
	width: 100%;
}
.storeItems p.requiredText {
	display: block;
	clear: both;
}
.storeItems.noBorder {
	border-bottom: none;
}
.storeItems input.text {
	display: block;
	font-size: 100%;
	width: 7ex;
}
.productImage {
	width: 80px;
	height: 80px;
	max-width: 80px;
	max-height: 80px;
	text-align: center;
	overflow: hidden;
	float: left;
	display: block;
	vertical-align: middle;
	border: 1px solid #CCC;
}
.productImage img {
	max-width: 80px;
	max-height: 80px;
	font-size: 0.7em;
	font-weight: normal;
}
.storeItems .disclaimer {
	font-size: .6em;
	color: #999;
	margin-top: -5px;
}
/****************************************************************************************
storeItems leftStoreItems
****************************************************************************************/
.storeItems .leftStoreItems {
	float:left;
	width:385px;
}
.storeItems .leftStoreItems.productImage {
	float:left;
	width:300px;
	margin-left: 10px;
	border-style: none;
}
.storeItems .leftStoreItems.fullWidth {
	width: 675px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #CCC;
}
.storeItems .leftStoreItems.fullWidth .detail.title, .storeItems .leftStoreItems.fullWidth .detail.description {
	width: 585px;
}
.storeItems.noProductImage h2 {
	float: left;
	width: 515px;
}
/**********************************************************************************************
storeImage
**********************************************************************************************/
.storeImage {
	width: 150px;
	max-height: 300px;
	text-align: center;
	overflow: hidden;
	float: left;
	display: block;
}
.storeImage img {
	max-width: 150px;
	max-height: 300px;
}
.noStoreImage {
	width: auto;
}
/**********************************************************************************************
withStoreImage
**********************************************************************************************/
.withStoreImage {
	display: block;
	float: left;
	width: 680px;
}
.withStoreImage .storeItems {
	display: block;
	margin-bottom: 15px;
	float: right;
	padding-bottom: 15px !important;
	border-bottom: 1px solid #CCC;
	width: 515px;
}
.withStoreImage .storeItems.noBorder {
	border-bottom-style: none;
}
.withStoreImage .storeItems .productDescription {
	padding-left: 0px;
	margin-bottom: 0px;
}
.withStoreImage .storeItems .dataLabel {
	float: left;
	width: 180px;
	display: block;
	margin-bottom: 10px;
	font-size: 0.8em;
	padding-left: 5px;
}
.withStoreImage .storeItems .data {
	width: 300px;
	float: left;
	display: block;
	font-size: 0.8em;
	margin-bottom: 10px;
}
/**********************************************************************************************
withStoreImage product thumnails
**********************************************************************************************/
.withStoreImage .storeItems .thumbnails.center {
	width: 136px;
	height: 140px;
	text-align: center;
	border: 1px solid #CCC;
	overflow: hidden;
	padding: 15px 10px 10px;
	margin: 0px 13px 13px 0px;
	float: left;
}
.withStoreImage .storeItems.noProductImage .thumbnails.center {
	width: 135px;
	padding: 15px 10px 10px;
	margin: 0px 14px 13px 0px;
}
.withStoreImage .storeItems .thumbnails.center .detail.title {
	font-size: 0.8em;
	width: 135px;
	margin: 10px auto 0px;
	display: block;
}
.withStoreImage .storeItems .thumbnails.center .detail.image {
	float: none;
	border-style: none;
	margin-bottom: 10px;
	clear: both;
}
.withStoreImage .storeItems .thumbnails.center img {
	height: auto;
	max-height: 80px;
	width: auto;
	max-width: 80px;
	border: 1px solid #CCC;
	font-size: .7em;
}
/**********************************************************************************************
withStoreImage storeItems productDetailImage
**********************************************************************************************/
.withStoreImage .storeItems .productDetailImage {
	width: 150px;
	height: 150px;
	max-height: 150px;
	text-align: center;
	overflow: hidden;
	display: block;
	vertical-align: middle;
	border: 1px solid #CCC;
	max-width: 150px;
	float: left;
}
.withStoreImage .storeItems .productDetailImage img {
	max-width: 150px;
	max-height: 300px;
	font-size: .7em;
}
.withStoreImage .storeItems.productDetailImage {
	width: 515px;
	float: right;
}
.withStoreImage .storeItems.productDetailImage .productDetailRightColumn {
	width: 355px;
	float: right;
}
.withStoreImage .storeItems.productDetailImage .productDetailRightColumn .dataLabel {
	float: left;
	width: 180px;
	display: block;
	margin-bottom: 10px;
	font-size: 0.8em;
	padding-left: 0px;
}
.withStoreImage .storeItems.productDetailImage .productDetailRightColumn .data {
	width: 150px;
	float: left;
	display: block;
	font-size: 0.8em;
	margin-bottom: 10px;
}
.withStoreImage .storeItems.productDetailImage .productDetailRightColumn label {
	width: 180px;
	display: block;
	float: left;
	margin-bottom: 3px;
	padding: 3px 0px 0px;
}
/**********************************************************************************************
withStoreImage storeItems noProductImage
**********************************************************************************************/
.withStoreImage .storeItems .leftStoreItems.noProductImage .detail.title, .withStoreImage .storeItems .leftStoreItems.noProductImage .detail.price, .withStoreImage .storeItems .leftStoreItems.noProductImage .detail.description {
	width: 270px;
}
.withStoreImage .storeItems.noProductImage {
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 515px;
}
.withStoreImage .storeItems.noProductImage.noBottomBorder {
	border-style: none;
}
.withStoreImage .storeItems.noProductImage .data {
	width: 180px;
	float: left;
	display: block;
	font-size: .8em;
	margin-bottom: 10px;
}
.withStoreImage .storeItems.noProductImage .dataLabel {
	float: left;
	width: 180px;
	display: block;
	margin-bottom: 10px;
	font-size: 0.8em;
	padding-left: 0px;
}
.withStoreImage .storeItems.noProductImage label {
	width: 180px;
	display: block;
	padding: 3px 0 0;
	float: left;
}
.withStoreImage .storeItems.noProductImage label.notRequired {
	width: 180px;
}
/**********************************************************************************************
withStoreImage storeItems leftStoreItems
**********************************************************************************************/
.withStoreImage .storeItems .leftStoreItems {
	width: 210px;
	float: left;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	text-align: left;
	margin-left: 10px;
}
.withStoreImage .storeItems .leftStoreItems .detail.title, .withStoreImage .storeItems .leftStoreItems .detail.price, .withStoreImage .storeItems .leftStoreItems .detail.amount, .withStoreImage .storeItems .leftStoreItems .detail.description {
	margin-bottom: 5px;
	font-size: 0.8em;
	display: block;
	width: 205px;
}
.withStoreImage .storeItems .leftStoreItems.productImage .detail.title, .withStoreImage .storeItems .leftStoreItems.productImage .detail.price, .withStoreImage .storeItems .leftStoreItems.productImage .detail.amount, .withStoreImage .storeItems .leftStoreItems.productImage .detail.description {
	margin-bottom: 5px;
	font-size: 0.8em;
	display: block;
	width: auto;
	padding-left: 0px;
	text-align: left;
}
/**********************************************************************************************
withStoreImage storeItems rightStoreItems
**********************************************************************************************/
.withStoreImage .storeItems .rightStoreItems {
	width:210px;
	padding: 0px;
	float: right;
}
.withStoreImage .storeItems .rightStoreItems p {
	width: 210px;
}
.withStoreImage .storeItems .rightStoreItems input .amount {
	float: right;
}
.withStoreImage .storeItems .rightStoreItems .detail.title, .storeItems .rightStoreItems .detail.price, .withStoreImage .storeItems .rightStoreItems .detail.amount, .withStoreImage .storeItems .rightStoreItems .detail, .withStoreImage .storeItems .rightStoreItems .detail.description {
	margin-bottom: 5px;
	font-size: 0.8em;
	display: block;
	width: auto;
}
.withStoreImage .storeItems .rightStoreItems .detail {
	width: 75px;
	float: left;
	margin-right: 5px;
}
.withStoreImage .storeItems .rightStoreItems .detail.price {
	width: 125px;
	float: left;
	padding-left: 0px;
}
.withStoreImage .storeItems .rightStoreItems label {
	width: 75px;
	display: block;
	float: left;
	padding-right: 5px;
}
.withStoreImage .storeItems .rightStoreItems label.radio {
	width: 180px;
	display: block;
	float: left;
	margin-bottom: 5px;
	padding-top: -1px;
	padding-top: 2px\9;
}
*+html .withStoreImage .storeItems .rightStoreItems label.radio {
	padding-top: 2px;
}
.withStoreImage .storeItems .rightStoreItems input.text {
	width: 7ex;
	max-width: 7ex;
}
.withStoreImage .storeItems .rightStoreItems select {
	max-width: 20ex;
	display: block;
	font-size: 100%;
}
.withStoreImage .storeItems .rightStoreItems input.quantity {
	width: 7ex;
	max-width: 7ex;
	display: block;
}
.withStoreImage .storeItems .rightStoreItems input.amount {
	width: 10ex;
	max-width: 10ex;
	display: block;
	text-align: right;
}
.withStoreImage .storeItems .rightStoreItems .input_buttons.margin {
	margin: 0px 0px 10px;
}
/**********************************************************************************************
withoutStoreImage
**********************************************************************************************/
.withoutStoreImage {
	display: block;
	clear: both;
}
.withoutStoreImage .storeImage.noImage {
	display: none;
}
.withoutStoreImage .storeItems {
	display: block;
	margin-bottom: 15px;
	float: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
	width: 100%;
}
.withoutStoreImage .storeItems.noProductImage { 

}
.withoutStoreImage .storeItems.noBorder {
	border-bottom-style: none;
}
.withoutStoreImage .productDescription {
	padding-left: 0px;
	margin-bottom: 10px;
	display: block;
	width: 100%;
}
.withoutStoreImage .storeItems .thumbnails.center {
	width: 135px;
	height: 140px;
	text-align: center;
	border: 1px solid #CCC;
	overflow: hidden;
	padding: 15px 10px 10px;
	margin: 0px 13px 10px 0px;
	float: left;
}
.withoutStoreImage .storeItems .thumbnails.center .detail.title {
	float: none;
	font-size: 0.8em;
	margin: 10px auto 0px;
	display: block;
}
.withoutStoreImage .storeItems .thumbnails.center .detail.image {
	float: none;
	border-style: none;
	margin-bottom: 10px;
	clear: both;
}
.withoutStoreImage .storeItems .thumbnails.center img {
	height: auto;
	max-height: 80px;
	width: auto;
	max-width: 80px;
	border: 1px solid #CCC;
	font-size: 0.7em;
	font-weight: normal;
}
.withoutStoreImage .storeItems.noProductImage {
	margin-left: 0px;
	padding-left: 0px;
	border-style: none;
}
.withoutStoreImage .storeItems.noProductImage .data {
	width: 49%;
	float: left;
	display: block;
	font-size: 0.8em;
	margin-bottom: 10px;
}
.withoutStoreImage .storeItems.noProductImage .dataLabel {
	float: left;
	width: 50%;
	display: block;
	margin-bottom: 10px;
	font-size: 0.8em;
	padding-left: 5px;
}
.withoutStoreImage .storeItems.noProductImage label {
	width: 50%;
	display: block;
	float: left;
	padding-left: 5px;
}
.withoutStoreImage .storeItems.noProductImage .productDetailRightColumn .requiredText {
	width: 600px;
	float: right;
}
.withoutStoreImage .storeItems.noProductImage .productDetailRightColumn p {
}
.withoutStoreImage .storeItems.noProductImage .productDescription p {
	width: 100%;
	display: block;
}
/**********************************************************************************************
withoutStoreImage storeItems leftStoreItems
**********************************************************************************************/
.withoutStoreImage .storeItems .leftStoreItems {
	width: 290px;
	float: left;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	text-align: left;
	margin-left: 10px;
}
.withoutStoreImage .storeItems .leftStoreItems .detail.title, .withoutStoreImage .storeItems .leftStoreItems .detail.price, .withoutStoreImage .storeItems .leftStoreItems .detail.amount, .withoutStoreImage .storeItems .leftStoreItems .detail.description {
	margin-bottom: 8px;
	font-size: 0.8em;
	display: block;
	width: auto;
	padding-right: 5px;
}
.withoutStoreImage .storeItems .leftStoreItems.productImage .detail.title, .withoutStoreImage .storeItems .leftStoreItems.productImage .detail.price, .withoutStoreImage .storeItems .leftStoreItems.productImage .detail.amount, .withoutStoreImage .storeItems .leftStoreItems.productImage .detail.description {
	margin-bottom: 5px;
	font-size: 0.8em;
	display: block;
	width: auto;
	padding-left: 0px;
	text-align: left;
}
/**********************************************************************************************
withoutStoreImage storeItems rightStoreItems
**********************************************************************************************/
.withoutStoreImage .storeItems .rightStoreItems {
	float:right;
	width:285px;
	text-align:left;
	padding:0px 0px 0px 0px;
	display: block;
}
.withoutStoreImage .storeItems .rightStoreItems .data {
	width: 180px;
	float: left;
	display: block;
	font-size: .7em;
	margin-bottom: 10px;
}
.withoutStoreImage .storeItems .rightStoreItems .dataLabel {
	float: left;
	width: 160px;
	display: block;
	margin-bottom: 10px;
	font-size: .7em;
	padding-left: 0px;
}
.withoutStoreImage .storeItems .rightStoreItems label {
	width: 140px;
	display: block;
	float: left;
	padding-top: 1px;
}
.withoutStoreImage .storeItems .rightStoreItems .detail.title, .withoutStoreImage .storeItems .rightStoreItems .detail.price, .withoutStoreImage .storeItems .rightStoreItems .detail.amount, .withoutStoreImage .storeItems .rightStoreItems .detail, .withoutStoreImage .storeItems .rightStoreItems .detail.description {
	margin-bottom: 5px;
	font-size: 0.8em;
	display: block;
	width: 140px;
	float: left;
}
/**********************************************************************************************
withoutStoreImage storeItems productDetailImage
**********************************************************************************************/
.withoutStoreImage .storeItems .productDetailImage {
	width: 250px;
	text-align: center;
	overflow: hidden;
	display: block;
	vertical-align: middle;
	border: 1px solid #CCC;
	max-width: 250px;
	float: left;
	height: 250px;
}
.withoutStoreImage .storeItems .productDetailImage img {
	max-width: 250px;
	font-size: 0.7em;
}
.withoutStoreImage .storeItems.productDetailImage {
	width: 680px;
	float: right;
}
.withoutStoreImage .storeItems.productDetailImage .productDetailRightColumn {
	width: 415px;
	float: right;
}
.withoutStoreImage .storeItems.productDetailImage .productDetailRightColumn  p {
	width: 100%;
}
.withoutStoreImage .storeItems.productDetailImage .productDetailRightColumn .requiredText {
	float: right;
	width: 500px;
}
.withoutStoreImage .storeItems.productDetailImage .productDetailRightColumn .productDescription {
	padding-left: 0px;
}
.withoutStoreImage .storeItems.productDetailImage .productDetailRightColumn .dataLabel {
	float: left;
	width: 50%;
	display: block;
	margin-bottom: 10px;
	font-size: 0.8em;
	padding-left: 0px;
}
.withoutStoreImage .storeItems.productDetailImage .productDetailRightColumn .data {
	width: 150px;
	float: left;
	display: block;
	font-size: 0.8em;
	margin-bottom: 10px;
}
.withoutStoreImage .storeItems.productDetailImage .productDetailRightColumn label {
	width: 50%;
	display: block;
	float: left;
	padding: 0px 5px 0px 0px;
}
/****************************************************************************************
mytable
****************************************************************************************/
.mytable {
	text-align: left;
	width: 680px;
	border: 1px solid #CCC;
	float: left;
	clear: both;
	font-size: 0.8em;
}
*+html .mytable {
	margin: 0px;
 	width: 595px;
}
.mytable tr.light td, .mytable.cart tr.light td {
	background: #eee;
}
.mytable tr, .mytable td, .mytable th {
	padding: 5px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #CCC;
}
.mytable tr {
	border: none;
}
.mytable.events tr:hover, .mytable.XXXXXX tr:hover, .mytable.XXXXXXX tr:hover {
	background: #ffedc4;
}
.mytable.events th tr:hover, .mytable.XXXXXX th tr:hover, .mytable.XXXXXX th tr:hover {
	background: #FFF;
	font-weight: bold;
}
.mytable tr.tableDescriptions th, .mytable tr.tableDescriptions th:hover {
	background: #FFF;
	font-weight: bold;
}
.mytable.orderHistory {
	width: 900px;
	margin: 0px 0px 15px;
}
.mytable.detail {
	width: 515px;
	border-style: none;
	float: right;
	clear: both;
	margin: 0px;
}
.mytable.noStoreImage {
	width: 680px;
}
.mytable legend {
	font-weight: bold;
	margin: 0px;
	padding: 5px 0px;
}
.mytable .dateRange {
	display: block;
}
.mytable .dateRange label.fromTo {
	float: left;
	display: block;
	margin-right: 10px;
	padding: 0px;
}
.mytable .dateRange img {
	float: left;
	display: block;
	margin-right: 20px;
}
.mytable .dateRange input.text {
	float: left;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.mytable tr .noBorder, .mytable th .noBorder, .mytable td .noBorder {
	border: none !important;
}
.leftBorder {
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #CCC;
}
/****************************************************************************************
column specification
****************************************************************************************/
.mytable .column90 {
	white-space: nowrap;
	width: 90%;
}
.mytable .column85 {
  white-space: nowrap;
  width: 85%;
}
.mytable .column80 {
	white-space: nowrap;
	width: 80%;
}
.mytable .column75 {
	white-space: nowrap;
	width: 75%;
}
.mytable .column70 {
	white-space: nowrap;
	width: 70%;
}
.mytable .column67 {
	white-space: nowrap;
	width: 67%;
}
.mytable .column65 {
	white-space: nowrap;
	width: 65%;
}
.mytable .column60 {
	white-space: nowrap;
	width: 60%;
}
.mytable .column55 {
  white-space: nowrap;
  width: 55%;
}
.mytable .column50 {
	width: 50%;
	padding: 5px 0px 0px 5px;
	margin: 0px;
}
.mytable .column50 label {
	padding: 0px 0px 0px 25px;
	margin-bottom: 10px;
	display: block;
}
.mytable .column50 p {
	padding-left: 25px;
	padding-right: 50px;
	font-size: 90%;
}
.mytable .column45 {
  white-space: nowrap;
  width: 45%;
}
.mytable .column40 {
	white-space: nowrap;
	width: 40%;
}
.mytable .column33 {
	white-space: nowrap;
	width: 33%;
}
.mytable .column30 {
	white-space: nowrap;
	width: 30%;
}
.mytable .column25 {
	white-space: nowrap;
	width: 25%;
}
.mytable .column20 {
	white-space: nowrap;
	width: 20%;
}
.mytable .column15 {
	white-space: nowrap;
	width: 15%;
}
.mytable .column14 {
	white-space: nowrap;
	width: 14%;
}
.mytable .column12 {
	white-space: nowrap;
	width: 12%;
}
.mytable .column10 {
	width: 10%;
}
.mytable .column5 {
	white-space: nowrap;
	width: 5%;
}
/**********************************************************************************************
mytable - memberShip
**********************************************************************************************/
.mytable.memberShip {
	margin-left: 1px;
	border: 1px solid #CCC;
	width: 900px;
}
*+html .mytable.memberShip {
	 width: 645px;
	 margin-left: 0px;
}
.mytable.memberShip th, .mytable.memberShip td {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.mytable.memberShip th {
	font-weight: bold;
}
.mytable.memberShip .memberUserPass {
	display: block;
	margin-bottom: 10px;
	clear: both;
	float: left;
}
.mytable.memberShip tr:hover {
	background: #fff;
}
.mytable.memberShip input.text, .mytable.memberShip input.password {
	width: 25ex;
	max-width: 25ex;
	display: block;
	font-size: 100%;
}
.memberUserPass label {
	display: block;
	width: 100px;
	float: left;
}
.chk-smsubmitbtn.fontControl, .chk-smsubmitbtn-paynow.fontControl {
	font-size: 100%;
}
/**********************************************************************************************
footer
**********************************************************************************************/
#footer, .push {
	min-height: 100px;
	max-height: 100px;
	min-width: 960px;
	max-width: 960px;
	margin: 0px auto;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	overflow: hidden;
}
#footer {
	background: #333;
}
#footertext {
	font-size: 0.7em;
	display: block;
	padding: 10px;
	float: left;
	width: 940px;
}
.printFooter {
	display: none;
}
.footerReceipt {
	display: none;
}
.footerLogoReceipt {
	display: none;
}
.footerLogo {
	height: 38px;
	padding-top: 13px;
	padding-right: 15px;
	text-align: right;
	float: right;
	width: 150px;
}
.footerLogoPrint {
	display: none;
}
#footer .footerLegal {
	padding: 15px 0px 0px 15px;
	float: left;
	display: block;
	width: 600px;
}
#footer .footerLegal p {
	font-weight: normal;
	color: #CCC;
	font-size: 0.6em;
	line-height: 100%;
	margin-top: 0px;
	margin-bottom: 5px;
}
#footer .footerLegal p a:link, #footer .footerLegal p a:hover, #footer .footerLegal p a:visited {
	font-weight: normal;
	color: #CCC;
}
ul.footerNavigationLinks {
	height: 30px;
	background: #666 url(../images/background_top_navbar.gif) repeat-x center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	list-style: none inside;
	margin: 0px;
	padding: 0px;
	display: block;
	width: 960px;
	float: left;
	clear: both;
}
ul.footerNavigationLinks li {
	display: inline;
}
ul.footerNavigationLinks li a:link, .footerNavigationLinks li a:visited {
	padding: 6px 15px 0px;
	text-decoration: none;
	float: left;
	height: 22px;
	font-size: 0.8em;
	color: #FFF;
	white-space: nowrap;
}
ul.footerNavigationLinks li a:hover, .footerNavigationLinks li a:active {
	color: #feb913;
}
ul.footerNavigationLinks .pipe {
	float: left;
	margin-top: 3px;
	margin-bottom: 7px;
	height: 14px;
	color: #CCC;
	margin-top: 5px\9;
}
